.blue_link {
    color:#86a0f8;
}

._control-search-box {
    width:250px;
    border:none;
    height:34px;
    border-radius: 6px;
}

._btn-custome {
    border-radius: 6px;
}
._br-6 {
    border-radius: 18px;
}
._clblack {
    color: #4C4C4C;
}