<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="asset/img/favicon.ico">
    <title>Stocave - Online Shop</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@400;700;800;900&display=swap" rel="stylesheet">

    <!-- vendor assets -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="asset/css/vendor/fonts/themify-icons.css" rel="stylesheet" type="text/css" media="all">
    <link href="asset/css/vendor/animate/animate.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="asset/css/vendor/owlcarousel/owl.theme.default.css" rel="stylesheet" type="text/css" media="all">
    <link href="asset/css/vendor/owlcarousel/owl.carousel.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" type="text/css" media="all">


    <!-- logistico style -->
    <link href="asset/css/vendor/logistico/main.css" rel="stylesheet" type="text/css" media="all">

    <!-- stocave style -->
    <link href="asset/css/style.css" rel="stylesheet" type="text/css" media="all">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
          <img src="asset/img/logo-white.png" alt="" class="img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#secbanner">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#secfeature">Feature</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#secpricing">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger trial" href="#contact">Start Free Trial</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="secbanner" class="hero-banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="hero-content">
                    <h1>Let's Build Your Online Business</h1>
                    <p>Starting an online business is never been easier, <br />with stocave anyone can build their online shop <br />without any coding</p>
                    <a href="#">Start Free Trial</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero-image">
                    <img src="asset/img/Group895.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="secfeature" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2>Features</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="featureitem order-management">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-5" data-aos="fade-right" data-aos-duration="2000">
                    <div class="">
                        <img src="asset/img/Group896.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-7 col-md-7" data-aos="fade-left" data-aos-duration="2000">
                    <h3 class="section-item-title">Order Management</h3>
                    <p>Starting an online business is never been easier, with stocave anyone can build their online shop without any coding</p>
                </div>
            </div>
        </div>
    </div>

    <div class="featureitem auto-store">
        <div class="container">
            <div class="row align-items-center section-item-padding">
                <div class="col-lg-5 col-md-5 order-md-12" data-aos="fade-left" data-aos-duration="2000">
                    <div class="">
                        <img src="asset/img/Group897.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 order-md-1" data-aos="fade-right" data-aos-duration="2000">
                    <h3 class="section-item-title">Auto Payment Verification</h3>
                    <p>Starting an online business is never been easier, with stocave anyone can build their online shop without any coding</p>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-5 col-md-5" data-aos="fade-up" data-aos-duration="2000">
                    <div class="">
                        <img src="asset/img/Group898.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-7 col-md-7" data-aos="fade-up" data-aos-duration="2000">
                    <h3 class="section-item-title">Customized Store</h3>
                    <p>Starting an online business is never been easier, with stocave anyone can build their online shop without any coding</p>
                </div>
            </div>
        </div>
    </div>

    <div class="featureitem invenmanage">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-7" data-aos="fade-right" data-aos-duration="2000">
                    <h3 class="section-item-title">Inventory Management</h3>
                    <p>Starting an online business is never been easier, with stocave anyone can build their online shop without any coding</p>
                </div>
                <div class="col-lg-5 col-md-5" data-aos="fade-left" data-aos-duration="2000">
                    <div class="">
                        <img src="asset/img/Group899.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="featureitem store-integrated">
        <div class="container">
            <div class="row align-items-center section-item-padding">
                <div class="col-lg-5 col-md-5" data-aos="fade-right" data-aos-duration="2000">
                    <div class="">
                        <img src="asset/img/Group900.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-7 col-md-7" data-aos="fade-left" data-aos-duration="2000">
                    <h3 class="section-item-title">Store Overview</h3>
                    <p>Starting an online business is never been easier, with stocave anyone can build their online shop without any coding</p>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-7 col-md-7" data-aos="fade-up" data-aos-duration="2000">
                    <h3 class="section-item-title">Integrated Delivery Services</h3>
                    <p>Starting an online business is never been easier, with stocave anyone can build their online shop without any coding</p>
                </div>
                <div class="col-lg-5 col-md-5" data-aos="fade-up" data-aos-duration="2000">
                    <div class="">
                        <img src="asset/img/Group901.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="projects section-item-padding" data-aos="fade-up" data-aos-duration="2000">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2>Experience It Yourself!</h2>
                </div>
            </div>
        </div>
        <div class="owl-carousel">
            <div> 
                <div class="unimage">
                    <img src="asset/img/Group895.png" alt="" class="img-fluid">
                </div>
                <p>Your Content </p>
            </div>
            <div> 
                <div class="unimage">
                    <img src="asset/img/Group895.png" alt="" class="img-fluid">
                </div>
                <p>Your Content </p>
            </div>
            <div> 
                <div class="unimage">
                    <img src="asset/img/Group895.png" alt="" class="img-fluid">
                </div>
                <p>Your Content </p>
            </div>
          </div>
    </div>
</section>

<section id="secpricing" class="pricing section-item-padding" data-aos="fade-up" data-aos-duration="2000">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2>Pricing</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="pricebox starter">
                    <h5>Starter</h5>
                    <div class="prcheading">
                        <h3>Free</h3>
                    </div>
                    <div class="prcinfo">
                        <ul>
                            <li>Free Hosting</li>
                            <li>Customized Store</li>
                            <li>Up to 100 product</li>
                            <li>Stocave domain</li>
                            <li>5% transactional fee</li>
                            <li>2 bank account</li>
                            <li>2 account</li>
                            <li>Facebook Pixel integration</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="pricebox business">
                    <h5>Business</h5>
                    <div class="prcheading">
                        <h3>Rp. 200 k</h3>
                        <p>/month</p>
                    </div>
                    <div class="prcinfo">
                        <ul>
                            <li>Free Hosting</li>
                            <li>Customized Store</li>
                            <li>Unlimited product</li>
                            <li>Custom domain</li>
                            <li>1% transactional fee</li>
                            <li>All available bank</li>
                            <li>10 account</li>
                            <li>Facebook Pixel Integration</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="pricebox enterprise">
                    <h5>Enterprise</h5>
                    <div class="prcheading">
                        <h3>Custom</h3>
                    </div>
                    <div class="prcinfo">
                        <p>Do you need more function and customised service to suit your business ?</p>
                        <br>
                        <p>Let's talk and we'll make it</p>
                    </div>

                    <div class="priceaction base">
                        <p>Contact Us</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

<section class="outro section-item-padding" data-aos="fade-up" data-aos-duration="2000">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2>We Are Here For You</h2>
                </div>
                <p class="text-center">Any problem that you have we will be there <br /> for you. So lets try this out and let us help <br />you improve your business.</p>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="footer-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="widget widget-info">
                        <div class="widget-imgfoot">
                            <img src="asset/img/logo-white.png" alt="" class="img-fluid">
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <ul class="footer-social">
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12"></div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="widget widget-copyright">
                        <p>&copy;2020. Stocave</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script type="text/javascript" src="asset/js/vendor/owl.carousel.min.js"></script>
<script type="text/javascript" src="asset/js/vendor/scrollnav.js"></script>
<script type="text/javascript" src="asset/js/global.min.js"></script>


</body>
</html>
