$base-color: #2D2DAD;
$body-color: #4C4C4C;

$base-link: #2D2DAD;

$color-blue: #2D2DAD;
$color-blue-dark: #0B3E89;
$color-blue-light: #4770F4;
$color-blue-thin: #3B84DB;

$color-green: #13A01A;
$color-green-light: #9ED6BD;
$color-green-thin: #37D34E;

$color-yellow-dark: #BCA100;
$color-yellow-light: #EADA47;

$color-grey: #4C4C4C;
$color-light-grey: #636363;
$color-thin-grey: #f8f8f8;
$color-medium-grey: #DBDBDB;

$color-red: #D14739;
$color-white: #ffffff;
$color-black: #000000;

$color-teal: #EEF1F4;
$color-purple: #C97ED6;
$color-peach: #FC7777;
$color-brick: #EA9658;

$color-tosca: #68E2D8;

