.sidebox {

    &.order {
        .sbox-tracking {
            .track-info {
                p {
                    background: $color-medium-grey;
                    border-radius: 5px;
                    padding: 10px 15px;
                }

                .info-meta {
                    font-size: 10px;
                    margin-top: 5px;

                    .meta-delete {
                        float: right;
                        color: $color-red;
                    }
                }
            }
        }

        .sbox-customer {
            position: relative;

            .customer-edit {
                position: absolute;
                right: 20px;
                top: 20px;
            }

            .btline {
                border-bottom: 1px solid $color-medium-grey;
                padding-bottom: 20px;
            }
        }

        .sbox-note {
            textarea {
                width: 100%;
                border-radius: 5px;
                border: 1px solid $color-medium-grey;

                &.info {
                    background-color: $color-medium-grey;
                }
            }
        }

        // add order
        .summary-item {
            .item-products {
                position: relative;
                padding-bottom: 20px;
                margin-bottom: 20px;
                border-bottom: 1px solid $color-medium-grey;

                &:last-child {
                    border-bottom: 0px;
                }

                &:after {
                    clear: both;
                    display: block;
                    content: "";
                }

                .product-image {
                    width: 25%;
                    float: left;
                }

                .product-info {
                    width: 75%;
                    float: left;

                    .product-title {
                        margin-bottom: 15px;

                        p {
                            margin-bottom: 0;
        
                            &.name-variant {
                                font-size: 10px;
                            }
                        }
                    }

                    .product-char {
                        position: relative; 
                        padding-left: 15px;

                        .form-control {
                            height: 30px;
                            width: 48px;
                            display: inline-block;
                        }

                        .char-price {
                            display: inline-block;
                            margin-left: 10px;
                        }

                        &:after {
                            display: block;
                            content: "x";
                            font-size: 14px;
                            position: absolute;
                            top: 4px;
                            left: 0;
                        }
                    }
                }

                .product-remove {
                    color: $color-red;
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: 14px;
                }
            }
        }
        .summary-note {
            margin-bottom: 40px;
    
            textarea {
                border-radius: 5px;
                width: 100%;
                border: 1px solid $color-medium-grey;
            }
        }
        .summary-number {
            .item-number {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                flex-basis: 100%;
                flex-wrap:  nowrap;
                text-align: right;
    
                p {
                    flex: 1 0 50%;
                }
            }
        }
    }

    &.customer {
        .cust-info,
        .cust-point {
            .cust-metatitle {
                position: relative;

                .meta-edit {
                    position: absolute;
                    right: 0px;
                    top: 0px;
                }
            }

            .cust-number {
                font-size: 14px;
                color: $base-color;
                font-weight: 600;
            }
        }
    }

    &.pointsale {
        .sale-user {
            position: relative;

            .user-add {
                position: absolute;
                right: 0px;
                top: 0px;
            }

            .user-list {
                .media {
                    border-bottom: 1px solid $color-medium-grey;
                    padding-bottom: 10px;

                    &:last-child {
                        border-bottom: 0px;
                    }
                }
            }
        }
    }

    &.channel {
        .channel-box {
            .channel-meta {
                position: relative;

                .meta-link {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    }

    &.product {
        .prodbox-tracking {
            .tracking-list {
                .form-check {
                    padding-left: 0px;
            
                    .form-check-label {
                        padding: 10px;
                        width: 100%;
                        cursor: pointer;
            
                        p {
                            font-size: 12px;
            
                            &.label-title {
                                font-size: 14px;
                                color: $base-color;
                                padding-bottom: 8px;
                            }
                        }
                    }
            
                    input[type="radio"]:empty {
                        display: none;
                    }
            
                    input[type="radio"]:checked ~ label {
                        background-color: $base-color;
                        color: $color-white;
            
                        .label-title {
                            color: $color-white;
                        }
                    }
                }

                .tracking-option {
                    &.ingredient {
                        .ingredient-list {
                            .list-title,
                            .list-item {
                                display: flex;
                                justify-content: space-between;
                            }

                            .list-title {
                                margin-bottom: 15px;
                            }
                        }
                    }
                }
            }
        }
    }

    &.variant {
        .variant-list {
            .form-check {
                padding-left: 0px;
        
                .form-check-label {
                    padding: 10px;
                    width: 100%;
                    cursor: pointer;
        
                    p {
                        font-size: 12px;
        
                        &.label-title {
                            font-size: 14px;
                            color: $base-color;
                            padding-bottom: 8px;
                        }
                    }
                }
        
                input[type="radio"]:empty {
                    display: none;
                }
        
                input[type="radio"]:checked ~ label {
                    background-color: $color-teal;
                    color: $color-white;
        
                    .label-title {
                        color: $color-white;
                    }
                }
            }
        }
    }
}