.partbox {
    box-shadow: -1px 9px 18px 0 rgba(75,81,91,.1);
    background-color: $color-white;
    padding: 20px 40px;
    border-radius: 15px;
}

.partbox--small {
    padding: 5px 30px;
    border-radius: 5px;
}

.dropdown-toggle {
    &:after {
        display: none;
    }
}

p {
    margin-bottom: 0;
}

button {
    border: 0;
}

.btn-base {
    min-width: 100px;
}

.buttonbox {
    &.toright {
        float: right;
    }

    &:after {
        clear: both;
        display: block;
        content: "";
    }
}

.form-control {
    font-size: 12px;
    height: 38px;

    &:focus {
        outline: 0;
        box-shadow: none;
    }
}

.nolist {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
        display: inline-block;
    }
}

.nolist__action {
    li {
        padding: 0 10px;

        a {
            font-size: 22px;
        }

        &.act-bankconn {
            a {
                font-size: 30px;
            }
        }

        &.act-delete {
            a {
                color: $color-red;
            }
        }
    }
}

.nolist__permission {
    li {
        margin-right: 40px;

        &:last-child {
            margin-right: 0px;
        }
    }
}

.unimage {
    padding-bottom: 75%;
    position: relative;
    height: 0;
    overflow: hidden;
    display: block;
    z-index: 1;

    img {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        max-width: inherit!important;
        object-fit: cover;
    }
}

.thnoline {
    thead {
        th {
            border: 0px;
        }
    }
}

// label
.labelstatus {
    padding: 5px 20px;
    border-radius: 15px;
    color: $color-white;
    min-width: 110px;
    text-align: center;
    display: inline-block;

    &.process {
        background-color: $color-green;
    }

    &.sent {
        background-color: $color-blue-thin;
    }

    &.completed {
        background-color: $color-light-grey;
    }

    &.unpaid {
        background-color: $color-yellow-light;
    }

    &.draft {
        background-color: $color-purple;
    }

    &.canceled {
        background-color: $color-peach;
    }

    &.refund {
        background-color: $color-brick;
    }
}

// switch - on/of 
.filter-switch {
    min-width: 250px;

    ul {
        padding-left: 0px;

        li {
            list-style: none;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }

    &.with-space {
        padding: 15px 20px;
    }
}

.label-default {
    background-color: $base-color;
}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
