@media only screen and (min-width: 768px) {
    .content-page {
        &.setting {
            &.billing {
                .billing-wrapbox {
                    .billing-box {
                        .meta-edit {
                            position: absolute;
                            top: 0;
                            right: 0;
                        }

                        &.invoice {
                            .box-inner-bill:nth-child(2) {
                                margin-left: 48px;
                            }
                        }
                    }

                    .billing-invoice-box {
                        .bill-invo-meta {
    
                            .invometa-title {
                                width: 70%;
                            }
    
                            .invometa-date {
                                width: 30%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    // sidebox 
    .sidebox {
        &.order {
            .card-body {
                padding-left: 8px;
                padding-right: 8px;
            }

            .summary-item {
                .item-products {
                    .product-info {
                        .product-char {
                            .form-control {
                                width: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .topbox-revert {
        display: inline-block!important;
        width: 100%;
        margin-top: 20px;

        div[class*="items-overview-"] {
            display: inline-block;

            &:last-child {
                display: block;
                width: 100%;
                margin-top: 20px;
            }
        }

        &.topbox-nomt {
            margin-top: 0px;
        }
    }

    .content-page {
        &.setting {
            &.billing {
                .billing-wrapbox {
                    .billing-box {
                        .box-inner-bill {
                            margin-left: 0px;
                        }
                        .meta-edit {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
}